{% extends 'base.html.twig' %}

{% block title %}Hello QrCodeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Acceuil de page de Reservation apres scanner le code </h1>

    <h2>Formulaire d'inscription !</h2>
    </ul>
</div>
{% endblock %}