{% extends 'base.html.twig' %}

{% block title %}New Workshops{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold mb-6">Ajouter une nouvelle Atelier</h1>

        <div class="bg-white shadow-md p-6">
            {{ include('workshops/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
