{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!
{% endblock %}

{% block body %}


	{% include "layouts/navbar.html.twig" %}
	<div class="container">
		<div class="min-w-[100%] min-h-[50%] bg-amber-200"></div>
		<h1>Wellcome To MEDNUM</h1>
		<p>This friendly message is coming from:</p>
		<a href=""></div>
	{% endblock %}
