{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}


{% if app.user %}
        <li class="list-none">
            <a href="{{ path('app_logout') }}"
               class="btn btn-sm btn-outline-light px-3 py-1 rounded bg-red-600 text-white hover:bg-red-700"
               onclick="return confirm('Es-tu sûr de vouloir te déconnecter ?');">
               Déconnexion
            </a>
        </li>
    {% else %}
        <li class="list-none">
            <a href="{{ path('app_register') }}"
               class="btn btn-sm btn-outline-light px-3 py-1 rounded bg-gray-700 text-white hover:bg-gray-600">
               Inscription
            </a>
        </li>
        <li class="list-none">
            <a href="{{ path('app_login') }}"
               class="btn btn-sm btn-green px-3 py-1 rounded bg-green-600 text-white hover:bg-green-700">
               Connexion
            </a>
        </li>
    {% endif %}
 
<div class="example-wrapper">
    <h1 class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Hello {{ controller_name }}! ✅</h1>
    <p>This friendly message is coming from:</p>

    <a href="" >
        
</div>
{% endblock %}
