{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    {% if app.user %}
        <li class="nav-item">
            <a href="{{ path('app_logout') }}" class="btn btn-sm btn-outline-light" onclick="return confirm('Es-tu sûr de vouloir te déconecter ?');">  Déconnexion</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="btn btn-sm btn-outline-light" href="{{ path('app_register') }}">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-sm btn-green" href="{{ path('app_login') }}">Connexion</a>
        </li>
    {% endif %}

<div class="example-wrapper">
    <h1 class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded">Hello {{ controller_name }}! ✅</h1>
    <p>This friendly message is coming from:</p>

    <a href="" >

</div>
{% endblock %}
