{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}

<h2 class="text-center">Dashboard Admin</h2>

<div class="flex flex-row gap-4 justify-center items-center">
    <a href="{{ path('app_user_index') }}" class="w-[300px] h-[100px] bg-blue-500 text-white flex items-center justify-center text-center hover:bg-blue-700 transition">Gérer les utilisateurs</a>
    <a href="{{ path('app_reservations_index') }}" class="w-[300px] h-[100px] bg-blue-500 text-white flex items-center justify-center text-center hover:bg-blue-700 transition">Gérer les Crenaux</a>
    <a href="{{ path('app_workshops_index') }}" class="w-[300px] h-[100px] bg-blue-500 text-white flex items-center justify-center  text-center hover:bg-blue-700 transition">Gerer les Atelier</a>
</div>
<ul class="mt-4 flex space-x-2 border-b">
  <li>
    <button onclick="showTab('tab1')" class="px-2 py-1 bg-gray-100 hover:text-blue-400 rounded-t-lg font-medium" id="btn1">Semaine 1</button>
  </li>
  <li>
    <button onclick="showTab('tab2')" class="px-2 py-1 bg-gray-50 hover:text-blue-400 rounded-t-lg font-medium" id="btn2">Semaine 2</button>
  </li>
    <li>
    <button onclick="showTab('tab3')" class="px-2 py-1 bg-gray-50 hover:text-blue-400 rounded-t-lg font-medium" id="btn3">Semaine 3</button>
  </li>
      <li>
    <button onclick="showTab('tab4')" class="px-2 py-1 bg-gray-50 hover:text-blue-400 rounded-t-lg font-medium" id="btn4">Semaine 4</button>
  </li>
</ul>

<div id="tab1" class="mt-4">
  <table class="min-w-full text-sm">
    <tr class="bg-gray-200 font-bold">
      <td class="p-2">Lundi</td>
      <td class="p-2">Mardi</td>
      <td class="p-2">Mercredi</td>
      <td class="p-2">Jeudi</td>
      <td class="p-2">Vendredi</td>
    </tr> 
    <tr>
      <td class="p-2">Atelier 1</td>
      <td class="p-2">Atelier 2</td>
      <td class="p-2">Atelier 3</td>
      <td class="p-2">Atelier 4</td>
      <td class="p-2">Atelier 5</td>
    </tr>
  </table>
</div>
<div id="tab2" class="mt-4 hidden">
  <table class="min-w-full text-sm">
    <tr class="bg-gray-200 font-bold">
      <td class="p-2">Lundi</td>
      <td class="p-2">Mardi</td>
      <td class="p-2">Mercredi</td>
      <td class="p-2">Jeudi</td>
      <td class="p-2">Vendredi</td>
    </tr> 
    <tr>
      <td class="p-2">Atelier 11</td>
      <td class="p-2">Atelier 22</td>
      <td class="p-2">Atelier 33</td>
      <td class="p-2">Atelier 44</td>
      <td class="p-2">Atelier 55</td>
    </tr>
  </table>
</div>
<div id="tab3" class="mt-4 hidden">
  <table class="min-w-full text-sm">
    <tr class="bg-gray-200 font-bold">
      <td class="p-2">Lundi</td>
      <td class="p-2">Mardi</td>
      <td class="p-2">Mercredi</td>
      <td class="p-2">Jeudi</td>
      <td class="p-2">Vendredi</td>
    </tr> 
    <tr>
      <td class="p-2">Atelier 111</td>
      <td class="p-2">Atelier 222</td>
      <td class="p-2">Atelier 333</td>
      <td class="p-2">Atelier 444</td>
      <td class="p-2">Atelier 555</td>
    </tr>
  </table>
</div>
<div id="tab4" class="mt-4 hidden">
  <table class="min-w-full text-sm">
    <tr class="bg-gray-200 font-bold">
      <td class="p-2">Lundi</td>
      <td class="p-2">Mardi</td>
      <td class="p-2">Mercredi</td>
      <td class="p-2">Jeudi</td>
      <td class="p-2">Vendredi</td>
    </tr> 
    <tr>
      <td class="p-2">Atelier 1111</td>
      <td class="p-2">Atelier 2222</td>
      <td class="p-2">Atelier 3333</td>
      <td class="p-2">Atelier 4444</td>
      <td class="p-2">Atelier 5555</td>
    </tr>
  </table>
</div>

 <script>
//     function showTab(tabId) {
//         document.getElementById('tab1').classList.add('hidden');
//         document.getElementById('tab2').classList.add('hidden');
//         document.getElementById('tab3').classList.add('hidden');
//         document.getElementById('tab4').classList.add('hidden');
//         document.getElementById(tabId).classList.remove('hidden');
//         document.getElementById('btn1').classList.remove('bg-gray-100', 'text-blue-400');
//         document.getElementById('btn2').classList.remove('bg-gray-100', 'text-blue-400');
//         document.getElementById('btn3').classList.remove('bg-gray-100', 'text-blue-400');
//         document.getElementById('btn4').classList.remove('bg-gray-100', 'text-blue-400');
//         document.getElementById('btn1').classList.add(tabId === 'tab1' ? 'bg-gray-100' : 'bg-gray-50');
//         document.getElementById('btn2').classList.add(tabId === 'tab2' ? 'bg-gray-100' : 'bg-gray-50');
//         document.getElementById('btn3').classList.add(tabId === 'tab3' ? 'bg-gray-100' : 'bg-gray-50');
//         document.getElementById('btn4').classList.add(tabId === 'tab4' ? 'bg-gray-100' : 'bg-gray-50');
//     }
// </script>
{% endblock %}
