{% extends 'base.html.twig' %}

{% block title %}Hello DashBoardAdminController!{% endblock %}

{% block body %}
        {% block nav %}
            {% include 'layouts/navbar.html.twig' %}
        {% endblock %}

    <div class="example-wrapper">
        <h1 class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Hello {{ controller_name }}! ✅</h1>
        <p>This friendly message is coming from:</p>

        
    
{% endblock %}
