<form class="" method="post" action="{{ path('app_time_slots_delete', {'id': time_slot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this slot?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ time_slot.id) }}">
	<twig:Link href="form.submit()" color="danger">
		<button>Delete</button>
	</twig:Link>
</form>
