{% extends 'base.html.twig' %}

{% block title %}Éditer créneau
{% endblock %}

{% block body %}
	<h1>Éditer créneau</h1>

	{{ include('time_slots/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

	<a href="{{ path('app_time_slots_index') }}">Revenir a la liste</a>
{% endblock %}
