{% extends 'base.html.twig' %}

{% block title %}New TimeSlots
{% endblock %}

{% block body %}
	<twig:Container>
		<twig:Card>
			<h1>Create new TimeSlots</h1>
			{{ include('time_slots/_form.html.twig') }}
			<a href="{{ path('app_time_slots_index') }}" class="mt-3">back to list</a>
		</twig:Card>
	</twig:Container>

{% endblock %}
