@import "tailwindcss";

@theme {
    --color-background: #ffffff;
    --color-foreground: oklch(0.32 0 0);
    --color-muted: oklch(0.98 0 0);
    --color-muted-foreground: hsl(220, 8%, 46%);
    --color-primary: #60bf19;
    --color-danger: #dd191c;
    --color-success: #22bb33;
    --color-info: #ffd900;
}

@source inline("bg-primary");
@source inline("bg-danger");
@source inline("bg-info");
@source inline("bg-success");
@source inline("bg-muted");
@source inline("bg-muted-foreground");
@source inline("bg-foreground");
@source inline("bg-background");

input,
.form-combo {
    font-size: 18px;
    padding: 5px 5px;
    outline: none;
    background: #ffffff;
    color: #000000;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
}

label {
    font-size: 18px;
    color: #000000;
    margin: 10px;
    width: 25%;
}

/* form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
}
.form-control {
    width: 100%;
} */

/* 

td,
th {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    padding: 5px;
}

thead {
    background-color: var(--foreground);
    color: #fff;
} */
