{% extends 'base.html.twig' %}

{% block title %}Éditer la réservation
{% endblock %}

{% block body %}
	<twig:Container>
		<twig:Card>

			<twig:PageTitle>Éditer la réservation</twig:PageTitle>

			{{ include('reservations/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

			<a href="{{ path('app_reservations_index') }}">Revenir a la liste</a>

			{{ include('reservations/_delete_form.html.twig') }}
		</twig:Card>
	</twig:Container>

{% endblock %}
