{% extends 'base.html.twig' %}

{% block title %}Éditer la réservation{% endblock %}

{% block body %}
    <h1>Éditer la réservation</h1>

    {{ include('reservations/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_reservations_index') }}">Revenir a la liste</a>

    {{ include('reservations/_delete_form.html.twig') }}
{% endblock %}
