{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle réservation</h1>

    {{ include('reservations/_form.html.twig') }}

    <a href="{{ path('app_reservations_index') }}">Revenir a la liste</a>
{% endblock %}
