{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation
{% endblock %}

{% block body %}
	<twig:Container>
		<twig:Card>

			<twig:PageTitle>Créer une nouvelle réservation</twig:PageTitle>
			{{ include('reservations/_form.html.twig') }}
			<a href="{{ path('app_reservations_index') }}" class="mt-3">back to list</a>


		</twig:Card>
	</twig:Container>

{% endblock %}
