<a class="flex bg-{{color}} items-center justify-center cursor-pointer h-11 text-center text-white p-[25px] rounded-md shadow-[0px_4px_6px_0px_#b5b5b5]
hover:shadow-sm border-1 border-muted" href={{href}}>

	{{ block('content') }}
</a>
