<div class="flex justify-center overflow-scroll w-full">
	<table class="w-full bg-white text-black mx-0 my-[30px] border-collapse border-solid text-center">

		{{ block('content') }}
	</table>
</div>
