{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<twig:Container>
		<twig:Card>
			<twig:PageTitle>Modifier un utilisateur</twig:PageTitle>
			{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
		</twig:Card>
	</twig:Container>
	{# <a href="{{ path('app_user_index') }}">back to list</a>
			
			    {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
